## **Dados Que Serão Utilizados Para Essas Consultas - MER**

### Categorias de Vendas

In [ ]:
# Crie um dataframe de exemplo
data = {
    'id': [1, 2, 3, 4],
    'categoria': ['Alice', 'Bob', 'Charlie', 'David'],
    'departamento': [25, 30, 35, 40],
    'valor unitario': [100,200,200,200]
}

### Vendas

In [ ]:
# Crie um dataframe de exemplo
data = {
    'id': [1, 2, 3, 4],
    'categoria': ['Alice', 'Bob', 'Charlie', 'David'],
    'departamento': [25, 30, 35, 40],
    'valor unitario': [100,200,200,200]
}

### Estoque

In [ ]:
# Crie um dataframe de exemplo
data = {
    'id': [1, 2, 3, 4],
    'categoria': ['Alice', 'Bob', 'Charlie', 'David'],
    'departamento': [25, 30, 35, 40],
    'valor unitario': [100,200,200,200]
}

### Salarios por Departamentos

In [ ]:
# Crie um dataframe de exemplo
data = {
    'id': [1, 2, 3, 4],
    'categoria': ['Alice', 'Bob', 'Charlie', 'David'],
    'departamento': [25, 30, 35, 40],
    'valor unitario': [100,200,200,200]
}

## **Definindo os Casos de Uso das Consultas:**

### Caso de uso 1:
- Problema: Não sei quais as médias salariais do departamento de Logística;
- Solução: Investigar uma amostra relevante dos dados que informe a métricas estatísticas dos salários

In [3]:
import pandas as pd
import duckdb

# Crie um dataframe de exemplo
data = {
    'id': [1, 2, 3, 4],
    'nome': ['Alice', 'Bob', 'Charlie', 'David'],
    'idade': [25, 30, 35, 40]
}
df = pd.DataFrame(data)

# Execute uma consulta SQL diretamente no DataFrame usando duckdb
query = "SELECT * FROM df WHERE idade > 30"
result = duckdb.query(query).df()

print(result)

   id     nome  idade
0   3  Charlie     35
1   4    David     40